In [1]:
import pandas as pd
import os
import numpy as np

In [42]:
path="../data/usermodel/"
files=os.listdir(path)
sorted_files=sorted(files, reverse=True)
print(sorted_files)

['20231101.txt', '20231001.txt', '20230901.txt', '20230801.txt']

In [43]:
list_months=[]
df_list=[]
for file in sorted_files[:4]:
    print(file)
    month="t"+file.split(".")[0][4:6:1]
    list_months.append(month)
    df=pd.read_csv(path+file, usecols=['isdn', 'revenue', 'arpu',
       'td_thoai', 'value_thoai', 'count_thoai', 'td_data', 'value_data',
       'count_data', 'td_sms', 'value_sms', 'count_sms', 'td_gtgt', 'td_rmqt',
       'td_other', 'partition'], sep=',')
    df.columns=['{}_{}'.format(col, month) for col in df.columns]
    df_list.append(df)
#print(list_months)

20231101.txt
20231001.txt
20230901.txt
20230801.txt

In [44]:
df_final=pd.concat([x.set_index(x.columns[0]) for x in df_list[:4]], axis=1, join='inner')

In [45]:
drop_fields=['partition']

In [46]:
df_final.drop(columns=['{}_{}'.format(title,month) for title in drop_fields for month in list_months], inplace=True)

In [47]:
df_final.columns

Index(['revenue_t11', 'arpu_t11', 'td_thoai_t11', 'value_thoai_t11',
       'count_thoai_t11', 'td_data_t11', 'value_data_t11', 'count_data_t11',
       'td_sms_t11', 'value_sms_t11', 'count_sms_t11', 'td_gtgt_t11',
       'td_rmqt_t11', 'td_other_t11', 'partition_t11', 'revenue_t10',
       'arpu_t10', 'td_thoai_t10', 'value_thoai_t10', 'count_thoai_t10',
       'td_data_t10', 'value_data_t10', 'count_data_t10', 'td_sms_t10',
       'value_sms_t10', 'count_sms_t10', 'td_gtgt_t10', 'td_rmqt_t10',
       'td_other_t10', 'revenue_t09', 'arpu_t09', 'td_thoai_t09',
       'value_thoai_t09', 'count_thoai_t09', 'td_data_t09', 'value_data_t09',
       'count_data_t09', 'td_sms_t09', 'value_sms_t09', 'count_sms_t09',
       'td_gtgt_t09', 'td_rmqt_t09', 'td_other_t09', 'revenue_t08', 'arpu_t08',
       'td_thoai_t08', 'value_thoai_t08', 'count_thoai_t08', 'td_data_t08',
       'value_data_t08', 'count_data_t08', 'td_sms_t08', 'value_sms_t08',
       'count_sms_t08', 'td_gtgt_t08', 'td_rmqt_t08', 'td_other_t08'],
      dtype='object')

In [48]:
# lấy lại column index=isdn
df_final.reset_index(inplace=True)

In [49]:
df_final.rename(columns={"index":"isdn"}, inplace=True)

In [50]:
df_final.head()

,isdn,revenue_t11,arpu_t11,td_thoai_t11,value_thoai_t11,count_thoai_t11,td_data_t11,value_data_t11,count_data_t11,td_sms_t11,...,count_thoai_t08,td_data_t08,value_data_t08,count_data_t08,td_sms_t08,value_sms_t08,count_sms_t08,td_gtgt_t08,td_rmqt_t08,td_other_t08
0,906994834,0.00,0,0.0,0,0,0.00,0,0,0.00,...,0,0.00,0,0,0.0,0,0,200.0,0.0,0.0
1,906995737,23940.00,28326,11940.0,449,24,0.00,0,0,0.00,...,31,0.00,0,0,0.0,0,0,12158.0,0.0,0.0
2,906998123,161099.98,172227,21900.0,6187,87,128099.99,35342212891,0,2099.99,...,187,148499.98,57005111,0,640.0,0,2,9200.0,0.0,0.0
3,906998570,90000.00,90000,810.0,505,33,89190.00,17540767595,0,0.00,...,33,179190.00,24887045,0,0.0,0,0,0.0,0.0,0.0
4,907002359,0.00,0,0.0,0,0,0.00,0,0,0.00,...,0,0.00,0,0,0.0,0,0,0.0,0.0,0.0

In [51]:
df_final.to_csv("../output/data_raw_{}.csv".format(list_months[0]), index=False)

In [14]:
df_final=pd.read_csv("../output/data_raw_{}.csv".format("t11") , sep=",")

In [15]:
# compute arpu_data, arpu_data_thoai of cur_month
def compute_arpu(df_month,list_months, cur_month):
    title1="arpu_data_"+cur_month
    title2="arpu_thoai_"+cur_month
    title3="arpu_data_thoai_"+cur_month
    df_month[title1]=0
    df_month[title2]=0
    for month in list_months:
        df_month[title1]+=df_month["td_data_"+month]
        df_month[title2]+=df_month["td_thoai_"+month]
    df_month[title1]=(df_month[title1])/3
    df_month[title2]=(df_month[title2])/3
    df_month[title3]=df_month[title1]+df_month[title2]

In [16]:
# compute td_data_thoai of month in list_months
def compute_td(df_month, list_months):
    for month in list_months:
        col1="td_data_thoai_"+month
        col_data="td_data_"+month
        col_thoai="td_thoai_"+month
        df_month[col1]=df_month[col_data]+df_month[col_thoai]

In [17]:
list_months=["t11","t10","t09","t08"]

In [18]:
compute_arpu(df_final, list_months[:3], list_months[0])
compute_arpu(df_final, list_months[1:], list_months[1])
compute_td(df_final, list_months[1:])

In [7]:
df_final.columns

Index(['isdn', 'revenue_t11', 'arpu_t11', 'td_thoai_t11', 'value_thoai_t11',
       'count_thoai_t11', 'td_data_t11', 'value_data_t11', 'count_data_t11',
       'td_sms_t11', 'value_sms_t11', 'count_sms_t11', 'td_gtgt_t11',
       'td_rmqt_t11', 'td_other_t11', 'partition_t11', 'revenue_t10',
       'arpu_t10', 'td_thoai_t10', 'value_thoai_t10', 'count_thoai_t10',
       'td_data_t10', 'value_data_t10', 'count_data_t10', 'td_sms_t10',
       'value_sms_t10', 'count_sms_t10', 'td_gtgt_t10', 'td_rmqt_t10',
       'td_other_t10', 'revenue_t09', 'arpu_t09', 'td_thoai_t09',
       'value_thoai_t09', 'count_thoai_t09', 'td_data_t09', 'value_data_t09',
       'count_data_t09', 'td_sms_t09', 'value_sms_t09', 'count_sms_t09',
       'td_gtgt_t09', 'td_rmqt_t09', 'td_other_t09', 'revenue_t08', 'arpu_t08',
       'td_thoai_t08', 'value_thoai_t08', 'count_thoai_t08', 'td_data_t08',
       'value_data_t08', 'count_data_t08', 'td_sms_t08', 'value_sms_t08',
       'count_sms_t08', 'td_gtgt_t08', 'td_rmqt_t08', 'td_other_t08',
       'arpu_data_t11', 'arpu_thoai_t11', 'arpu_data_thoai_t11',
       'arpu_data_t10', 'arpu_thoai_t10', 'arpu_data_thoai_t10',
       'td_data_thoai_t10', 'td_data_thoai_t09', 'td_data_thoai_t08'],
      dtype='object')

In [19]:
# general field name
get_fields=['arpu','revenue','arpu_data_thoai','arpu_data','td_data','td_data_thoai']

In [20]:
# to get list of needed fieldnames
def get_list_fields(get_field, list_fields, list_months):
    for field in get_field:
        f=field+'_{}'
        for month in list_months:
            list_fields.append(f.format(month))

In [21]:
list_fields=['isdn']
get_list_fields(get_fields[:2],list_fields,list_months[:3])
get_list_fields(get_fields[2:4], list_fields,list_months[:2])
get_list_fields(get_fields[4:],list_fields,list_months[1:])
print((list_fields))

['isdn', 'arpu_t11', 'arpu_t10', 'arpu_t09', 'revenue_t11', 'revenue_t10', 'revenue_t09', 'arpu_data_thoai_t11', 'arpu_data_thoai_t10', 'arpu_data_t11', 'arpu_data_t10', 'td_data_t10', 'td_data_t09', 'td_data_t08', 'td_data_thoai_t10', 'td_data_thoai_t09', 'td_data_thoai_t08']

In [26]:
table2=df_final[[col for col in list_fields]]

In [29]:
table2.rename(columns={"revenue_t11":"td_vien_thong_t11","revenue_t10":"td_vien_thong_t10","revenue_t09":"td_vien_thong_t09"}, inplace=True)

/tmp/ipykernel_1979976/1248709724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2.rename(columns={"revenue_t11":"td_vien_thong_t11","revenue_t10":"td_vien_thong_t10","revenue_t09":"td_vien_thong_t09"}, inplace=True)

In [27]:
#table2.rename(columns={("revenue_{}".format(month1) for month1 in list_months[:3]):"td_vien_thong_{}".format(month2) for month2 in list_months[:3]},inplace=True)

/tmp/ipykernel_1979976/2173920030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2.rename(columns={("revenue_{}".format(month1) for month1 in list_months[:3]):"td_vien_thong_{}".format(month2) for month2 in list_months[:3]},inplace=True)

In [30]:
table2.head(50)

,isdn,arpu_t11,arpu_t10,arpu_t09,td_vien_thong_t11,td_vien_thong_t10,td_vien_thong_t09,arpu_data_thoai_t11,arpu_data_thoai_t10,arpu_data_t11,arpu_data_t10,td_data_t10,td_data_t09,td_data_t08,td_data_thoai_t10,td_data_thoai_t09,td_data_thoai_t08
0,906994834,0,66,133,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
1,906995737,28326,28244,28950,23940.00,26482.00,34558.00,16160.000000,16025.000000,0.000000,0.000000,0.00,0.00,0.00,14482.00,22058.00,11535.00
2,906998123,172227,195503,202930,161099.98,163219.98,192363.00,151670.996667,175366.990000,128099.990000,134899.986667,128099.99,128099.99,148499.98,149999.99,155013.01,221087.97
3,906998570,90000,120000,120000,90000.00,90000.00,90000.00,90000.000000,120000.000000,89190.000000,119190.000000,89190.00,89190.00,179190.00,90000.00,90000.00,180000.00
4,907002359,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
5,907007995,4963,4533,1000,1290.00,10600.00,3000.00,3763.333333,3333.333333,3333.333333,3333.333333,10000.00,0.00,0.00,10000.00,0.00,0.00
6,907022261,57678,96326,88878,13825.00,130793.00,28416.00,53292.000000,55274.000000,45316.666667,43875.000000,109525.00,20825.00,1275.00,126393.00,22458.00,16971.00
7,907021252,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
8,907022360,0,108999,109000,0.00,108999.99,108999.99,72012.660000,108336.180000,52923.126667,88501.813333,79384.69,79384.69,106736.06,108018.99,108018.99,108970.56
9,907026369,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
10,907028609,113009,120242,133530,145890.00,51137.00,142000.00,110975.666667,116142.666667,109460.000000,111485.000000,50000.00,139190.00,145265.00,51137.00,140000.00,157291.00
11,907036091,150329,150523,150953,150349.98,149999.98,150640.00,149999.990000,149999.986667,128099.990000,134899.986667,128099.99,128099.99,148499.98,149999.99,149999.99,149999.98
12,907043833,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
13,907046539,91866,60200,60200,95000.00,90400.00,90200.00,90000.000000,60000.000000,89190.000000,59460.000000,89190.00,89190.00,0.00,90000.00,90000.00,0.00
14,907046580,21824,13293,18281,25818.00,26350.00,13304.00,20007.333333,11943.000000,18606.333333,11708.333333,24150.00,10750.00,225.00,24150.00,11454.00,225.00
15,907047474,79833,79833,95666,79000.00,81500.00,79000.00,70000.000000,70000.000000,70000.000000,70000.000000,70000.00,70000.00,70000.00,70000.00,70000.00,70000.00
16,907052599,22079,19118,13337,27336.00,37331.00,1572.00,22013.000000,19051.666667,0.000000,0.000000,0.00,0.00,0.00,37131.00,1572.00,18452.00
17,907055925,13171,10373,6845,14112.00,20531.00,4871.00,12319.333333,9706.000000,1575.000000,1775.000000,1275.00,2025.00,2025.00,19504.00,4421.00,5193.00
18,907059302,26940,37934,38321,23752.00,35130.00,21939.00,18245.000000,31269.333333,0.000000,0.000000,0.00,0.00,0.00,21566.00,16181.00,56061.00
19,907060518,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
20,907063162,1619,1527,2704,2946.00,207.00,1704.00,1569.000000,1504.000000,0.000000,0.000000,0.00,0.00,0.00,138.00,1704.00,2670.00
21,907080918,102857,102923,102923,102857.14,102857.14,102857.14,102857.140000,68571.426667,99977.140000,66651.426667,99977.14,99977.14,0.00,102857.14,102857.14,0.00
22,907064606,32482,32482,47619,9000.00,9447.00,79000.00,23385.666667,23385.666667,23333.333333,23333.333333,0.00,70000.00,0.00,157.00,70000.00,0.00
23,907065079,100966,87210,80868,121396.00,107257.00,74246.00,92139.333333,62410.333333,70150.000000,40050.000000,87300.00,32850.00,0.00,102307.00,56296.00,28628.00
24,907066730,115533,115754,112617,108556.00,122429.00,115616.00,112032.666667,112149.000000,99000.000000,99000.000000,99000.00,99000.00,99000.00,113563.00,114666.00,108218.00
25,907101671,14576,14241,12563,10700.00,14249.00,18781.00,6729.000000,7064.666667,0.000000,0.000000,0.00,0.00,0.00,9749.00,4388.00,7057.00
26,907085736,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
27,907103296,93198,64665,76873,102450.00,116773.00,60371.00,80432.000000,50983.000000,59910.000000,30180.000000,90240.00,300.00,0.00,104373.00,46923.00,1653.00
28,907106055,256592,251675,250573,251232.00,263271.00,255275.00,220221.000000,214477.333333,149258.333333,149308.333333,145825.00,151050.00,151050.00,224661.00,223600.00,195171.00
29,907105838,5677,8772,14366,5252.00,8045.00,3736.00,5677.666667,8772.666667,0.000000,0.000000,0.00,0.00,0.00,8045.00,3736.00,14537.00
30,907102461,18116,35151,35476,40350.00,0.00,14000.00,10116.666667,31151.000000,10116.666667,31151.000000,0.00,14000.00,79453.00,0.00,14000.00,79453.00
31,907106817,5318,5933,7394,6461.00,619.00,8876.00,3852.000000,4733.000000,0.000000,0.000000,0.00,0.00,0.00,619.00,5476.00,8104.00
32,907100822,110566,111966,123295,140908.00,69085.00,121706.00,85149.666667,81549.666667,60000.000000,60000.000000,60000.00,60000.00,60000.00,68835.00,85956.00,89858.00
33,907112504,39970,50011,65590,300.00,50000.00,69610.00,39703.333333,49678.333333,39362.000000,49337.000000,49800.00,67986.00,30225.00,49800.00,69010.00,30225.00
34,907113154,37182,56307,68458,13964.00,35078.00,62505.00,34765.666667,52674.333333,0.000000,0.000000,0.00,0.00,0.00,34828.00,55505.00,67690.00
35,907118058,9611,652,12001,28833.00,0.00,0.00,1944.333333,652.333333,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,1957.00
36,907119241,99994,132712,119391,41271.00,120542.00,138169.00,79110.666667,105895.666667,73983.333333,100000.000000,90450.00,105900.00,103650.00,94742.00,111919.00,111026.00
37,907119546,104983,91208,90958,131325.00,91050.00,92575.00,104150.000000,90375.000000,103340.000000,89565.000000,90240.00,89265.00,89190.00,91050.00,90075.00,90000.00
38,907123689,159916,216258,257241,145975.00,152800.00,180975.00,154216.666667,203541.666667,130000.000000,180083.333333,120000.00,150000.00,270250.00,143800.00,173225.00,293600.00
39,907116269,68260,80056,86666,39426.00,80556.00,84800.00,54094.000000,61956.666667,41663.000000,52955.333333,55250.00,50839.00,52777.00,60856.00,71000.00,54014.00
40,907122133,43115,31309,24245,50786.00,54550.00,24010.00,21982.000000,12176.333333,21350.000000,11825.000000,33150.00,2325.00,0.00,33150.00,3010.00,369.00
41,907125786,89518,112597,93968,27599.00,122552.00,118405.00,81112.000000,103940.666667,0.000000,0.000000,0.00,0.00,0.00,97582.00,118405.00,95835.00
42,907130479,119999,119999,120000,119999.99,119999.99,119999.99,119999.990000,119999.990000,119999.990000,119759.990000,119999.99,119999.99,119279.99,119999.99,119999.99,119999.99
43,907126895,1625,503,603,4275.00,150.00,450.00,1625.000000,503.666667,1625.000000,400.000000,150.00,450.00,600.00,150.00,450.00,911.00
44,907115370,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
45,907118106,0,0,0,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00,0.00
46,907133839,389100,299366,227057,460432.28,386380.28,320488.28,118999.990000,118999.990000,118999.990000,115410.156667,118999.99,118999.99,108230.49,118999.99,118999.99,118999.99
47,907131454,26995,75,0,80760.00,225.00,0.00,26411.666667,75.000000,3275.000000,75.000000,225.00,0.00,0.00,225.00,0.00,0.00
48,907131669,1421,857,1552,2937.00,526.00,801.00,1421.333333,857.666667,0.000000,0.000000,0.00,0.00,0.00,526.00,801.00,1246.00
49,907138170,98800,97775,108758,98000.00,95600.00,102800.00,95666.666667,97241.666667,94856.666667,96431.666667,94190.00,101190.00,93915.00,95000.00,102000.00,94725.00

In [90]:
table2[table2['isdn']==908558942]

,partition,isdn,td_vien_thong_t11,td_vien_thong_t10,td_vien_thong_t09,arpu_t09,arpu_t11,arpu_t10,arpu_data_thoai_t11,arpu_data_thoai_t10,arpu_data_t11,arpu_data_t10,td_data_t10,td_data_t09,td_data_t08,td_data_thoai_t10,td_data_thoai_t09,td_data_thoai_t08
485408,20231101,908558942,173184.0,120000.0,120000.0,120000,137728,120000,177394.666667,177394.666667,165765.0,165765.0,116640.0,116640.0,116640.0,120000.0,120000.0,120000.0

In [25]:
table2.to_csv("../output/table2_{}.csv".format(list_months[0]), index=False)

In [92]:
del df_final
del table2